name: 'Drfit Detector'

on:
    schedule:
        - cron: "0 8 * * *"

    workflow_dispatch:
    

permissions:

    contents: read
    issues: write

jobs:
    drift_checker:

        runs-on: ubuntu-latest
        
        steps:

        - name: Code checkout
          uses: actions/checkout@v4

        - name: AWS login
          uses: aws-actions/configure-aws-credentials@v4
          with:
            aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
            aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
            aws-region: us-east-1
        
        - name: Terraform setup
          uses: hashicorp/setup-terraform@v3
          with:
            terraform_wrapper: false
        - name: Drift check
          id: drift_check
          continue-on-error: true
          working-directory: ./terraform
          run: |
            terraform init
            terraform plan -detailed-exitcode

        - name: Debug output
          run: echo "Drift status is ${{ steps.drift_check.outputs.status }}"
          
        - name: Open GitHub issue if drift present
          if: steps.drift_check.outcome == 'failure'
          run: |
            gh issue create \
            --title "Infrastructure drift detected" \
              --body "Drift detected by Terraform plan."
          env:
            GH_TOKEN: ${{github.token}}

            




